*{
    font-family: sans-serif;
    color: darkslateblue;
    font-family: 'Quicksand', sans-serif;
  }
  body,html{
    margin: 0 auto;
    background-color:#041229;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: -webkit-fill-available;
  }
  
  h1{
    color: white;
    font-size: 4em;
    font-weight: light;
  }
  
  .container{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: ghostwhite;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: space-around;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    
  }
  
  input, button{
    font-size: 1em;
    padding: 7px;
    margin: 0 0 0 10px;
    border: 1px solid darkslateblue;
    border-radius: 5px;
  }
  
  button{
    background-color: aliceblue;
  }
  button:hover{
    background-color: #041229;
    color: white;
  }
  .loginForm{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    padding: 10px;
    width: 637px
  }
  #submit{
    width: 200px;
    align-self: center;
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: ghostwhite;
  color: darkslateblue;
  text-align: center;
  height: 50px;
}
.footer p {
  float: left;
  display: block;
  color: darkslateblue;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 20px;
  
}
#temp{
  color:ghostwhite;
}

.footer img {
  float: right;
  display: block;
  color: darkslateblue;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-size: 20px;
  height: 50px;
  width: 50px;
  
}
.pic {
  width: 40%;
  height: 80%;
  
  margin: 201px 248px;
  
  position: absolute;

  
}